<button class="btn btn-primary float-button" 
  style="background:linear-gradient(black,#3f3f3f);margin:0 10px 0 0"
  (click)="showForm()"
  >New Audition </button>
<div *ngIf ="!hiddenForm; else auditionDetails" class="row col-md-10 col-xs-12" style="margin:3%;">
  <app-audition-form (onCancelPost)="hiddenForm=true" (onSuccessfulPost)="getAuditions()"></app-audition-form>
</div>
<ng-template #auditionDetails>
    <legend style="margin: 25px 0 0 10px;">Upcoming Auditions</legend>
        <details *ngFor="let audition of auditions" class="row col-md-10 col-xs-12" style="margin:1%;">
          <summary class="audition-summary">Audition for {{audition.auditionRole}} on {{audition.auditionDate}}</summary>
          <p class="audition-details">{{audition.auditionDetails}}</p>
        </details>
</ng-template>
