<form [formGroup]="loginForm">
  <div class="row">
    <div class="offset-md-1" *ngIf="invalidCredentials">
      <strong class="text-danger text-center strong">Invalid Username/Password</strong>
    </div>
    <div class="offset-md-1" *ngIf="passwordSent">
      <strong class="text-success text-center strong">{{errorMsg}}</strong>
    </div>
    <div class="offset-md-1 col-md-10">
      <input formControlName="userId" type="text" style="margin-top: 5%;" class="form-control usercredentials" placeholder="Mobile">
    </div>
    <div class="offset-md-1 col-md-10">
      <input formControlName="password" type="password" class="form-control usercredentials" placeholder="Password">
    </div>
    <div class="offset-md-3 col-md-4 col-xs-5 col-xs-push-3">
      <input type="button" data-dismiss="modal" value="Login" class="form-control btn custom-primary-btn" (click)="login()">
    </div>
  </div>
  <div class="row">
    <div class="w-25"></div>
    <div data-toggle="modal" data-target="#myModal" class="col mt-2">
      <a>Forgot Password ?</a>
    </div>
  </div>
  <hr>
  <!-- <div class="offset-md-1 col-md-8">
      <input type="button" class="form-control custom-primary-btn" (click)="tab='signup'" value="Don't have a account? Create New">
    </div> -->
</form>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <div class="modal-header">
          <h4 class="modal-title">Forgot Password ?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <!-- Modal body -->
      <div class="modal-body">
        <p>We will send you the password to your mobile..</p>
        <input #mobileNumber class="form-control input-lg" placeholder="Enter your mobile number" type="number" minlength="10" name="" id="">
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="getPassword($event,mobileNumber,mobileNumber)">Send</button>
      </div>
      
    </div>
  </div>
</div>

  <!-- The Modal -->
  