<h1>Disclaimer</h1>

<p>Last updated: April 16, 2019</p>

<p>The information contained on http://www.icchata.com website (the "Service") is for general information purposes only.</p>

<p>icchata assumes no responsibility for errors or omissions in the contents on the Service.</p>

<p>In no event shall icchata be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. icchata reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice. This Disclaimer  for icchata has been created with the help of <a href="https://termsfeed.com/disclaimer/generator/">TermsFeed Disclaimer Generator</a>.</p>

<p>icchata does not warrant that the website is free of viruses or other harmful components.</p>

<h2>External links disclaimer</h2>

<p>http://www.icchata.com website may contain links to external websites that are not provided or maintained by or in any way affiliated with icchata</p>

<p>Please note that the icchata does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>
