.layer2{
    position: absolute;
    top:0;
    left:0;
    background-color: lightgray;
    z-index: 1000;
    width: 100%; /* Full width */
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1001;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #ffc34d;
    border-radius: 50%;
    border-top: 16px solid #333333;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }