<div>
<div class="row" style="margin:1%;">
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible">
        <strong>Success!</strong> Thanks for registering with us. We will keep you posted.
      </div>
      <div *ngIf="failureMessage" class="alert alert-danger alert-dismissible">
          <strong>Oops!</strong> {{failureMessage}}.
        </div>
  <div class="col-md-5">
    <!-- <p class="register-title">Register</p> -->
    <fieldset>
      <Legend class="dropdown">Register with us</Legend>
      <form #userForm="ngForm">
        <div class="form-group">
          <label for="name">Name*:</label>
          <input type="text" class="form-control dropdown" id="name" name="name" #name="ngModel"
          required minlength="3" pattern="^[a-zA-Z\s]*$" [(ngModel)]="newActor.actorName">
        </div>
        <div class="form-group">
            <label for="age">Age*:</label>
            <input type="number" class="form-control dropdown" pattern="^[0-9]{1,2}" name="age" id="age" #age="ngModel" 
            required [(ngModel)]="newActor.actorAge">
          </div>
          <div class="form-group" id="gender">
              <label for="gender">Gender*:</label>
              <select class="form-control dropdown" id="gender" name="gender" [(ngModel)]="newActor.actorGender" #gender ="ngModel"
              required>
              <option class="dropdown" *ngFor="let type of genderTypes" value="{{type.toLowerCase()}}">{{type}}</option>
              </select>
            </div>
            <div class="form-group" id="profileType">
                    <label for="profileType">Profile*:</label>
                    <select class="form-control dropdown" id="profileType" name="profileType" [(ngModel)]="newActor.profileType" #gender ="ngModel"
                    required>
                      <option class="dropdown" *ngFor="let profile of profileTypes"value="{{profile.toLowerCase()}}">{{profile}}</option>
                    </select>
                  </div>
            <div class="form-group">
                <label for="movies">Movies/Plays:</label>
                <input type="text" title="Movies you have worked on" class="form-control dropdown" id="movies" 
                [(ngModel)]="newActor.actorMovies"
                name="movies"
                >
                <i>Please enter only movies/plays you have worked in</i>
            </div>
            <div class="form-group" >
                    <label for="languages">Languages*:</label>
                    <input type="text" title="Languages known." class="form-control dropdown" id="languages" 
                    [(ngModel)]="newActor.Languages" required
                    name="languages"
                    >
            </div>
            <div class="form-group">
              <label for="Location">Location(address):</label>
              <input type="text" title="City/Area name" #location class="form-control dropdown" id="Location" 
              [(ngModel)]="newActor.actorLocation"
              maxlength="500" 
              name="Location">
      </div>
            <div class="form-group">
                    <label for="height">Height (in cm):</label>
                    <input type="text" title="Height in cm" class="form-control dropdown" id="height" 
                    [(ngModel)]="newActor.Height"
                    name="height"
                    >
            </div>
            <div class="form-group">
                    <label for="weight">Weight (in Kg):</label>
                    <input type="text" title="Height in cm" class="form-control dropdown" id="weight" 
                    [(ngModel)]="newActor.Weight"
                    name="weight">
            </div>
            <div class="form-group">
              <label for="number">Contact Number*:</label>
              <input type="number" class="form-control dropdown" pattern="^[0-9]{10}" required
               id="number" [(ngModel)]="newActor.actorContactNumber"
              name="number"
              >
              <i>Display contact info on profile :</i>
              <input type="checkbox" class="" id="number" [(ngModel)]="newActor.actorContactConsent"
              name="contactConsent"
              >
            </div>
      </form>
    </fieldset>
  </div>
  <div class="row col-md-7 pull-right">
      <div class="col-md-7">
          <div class="form-group" style="margin:12%;">
              <p-fileUpload mode="basic" name="photos" 
              url="" accept="image/*" 
              multiple = 'false'
              maxFileSize="1000000" (onSelect)="uploadFiles($event)" 
               chooseLabel="Upload your photos"></p-fileUpload>
              <i class="small"> <br> Please upload image of size 500px*500px</i>
          </div>
      </div>
  </div>
  <div class="row col-sm-12 col-md-5 col-md-offset-2" >
      <div *ngIf="previewsrc" class=" col-sm-12 col-md-5">
          <img src="{{previewsrc}}" alt="" class="img-thumbnail">
      </div> 
  </div>
</div>
<i>* Mandatory fields</i>
<button class="col-md-offset-4 col-sm-offset-2 btn btn-primary submit-btn" (click)="submit()" [disabled]="userForm.invalid">Submit</button>
</div>