<div class="container-fluid" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
  <h1 style="margin:10px;">About us</h1>

  <p class="col-md-7">Icchata, is a product for all Actors and Photographers out there. We use our IT solutions for bringing more oppurtunities
    for the actors and photographers with more choices for employers. We are currently working on Tamil Film Industry alone.
    But sure we would expand to other industries also once this becomes a sucess</p>

  <p class="col-md-7">With icchata, casting will become easier and perfect. We are soon planning to use AI algorithms to recommend the best actor
    for your casting needs.</p>
  <p class="col-md-7">We would like to create a single space for jobs in Entertainment industry, where one can learn, connect and grow.</p>
</div>