<div *ngIf="successMessage" class="alert alert-success alert-dismissible">
    <strong>Success!</strong> Audition posted to forum successfully.
  </div>
  <div *ngIf="faliureMessage" class="alert alert-danger alert-dismissible">
      <strong>Oops!</strong> {{failureString}}.
    </div>
<form #auditionForm="ngForm">
      <div class="panel panel-default">
        <div class="panel-heading">
          New Audition Details
        </div>
        <div class="panel-body">
            <div class="form-group col-md-4">
                <label for="contactDetails">Contact Details*:</label>
                <input type="number" class="form-control" 
                 id="contactDetails"  name="contactDetails" [(ngModel)]="audition.contactDetails"  
                 pattern="[0-9]{10}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="contactDetails">Audition Date-time:</label>
                <input type="datetime-local" class="form-control" name="auditionDate" [(ngModel)]="audition.auditionDate"  id="auditionVenue">
            </div>
            <div class="form-group col-md-4">
                <label for="auditionRole">Audition for*:</label>
                <select class="form-control" id="auditionRole" name="auditionRole" [(ngModel)]="audition.auditionRole" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Both</option>
              </select>
            </div>
          <div class="form-group" style="margin:1%;">
              <label for="auditionDetails">Other Details*:</label>
              <textarea rows="4" class="form-control" name="auditionDetails" [(ngModel)]="audition.auditionDetails"
               placeholder="Enter audition venue details and production house details here"></textarea>
          </div>
        </div>
        <i>*Mandatory fields</i>
        <button class ="btn btn-primary submit-btn submit-btn-width" (click)="formSubmit()" [disabled]="auditionForm.invalid">Post</button>
        <button class ="btn btn-primary submit-btn submit-btn-width" (click)="cancelPost()">Cancel</button>
      </div>
  </form>