<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      <span style="font-size:30px; color:white; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ">Casting Company</span>  
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/actors">Actors</a></li>
      <li><a href="#">Photographers</a></li>
      <li><a href="#">Choreographers</a></li>
      <li><a href="#">Singers</a></li>
      <li><a href="#">Editors</a></li>
      <li><a href="#">Technicians</a></li>
      <li><a routerLink="signup">Register</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
