<app-message-screen *ngIf="showLoading" class="layer2">
  <div></div>
</app-message-screen>
<div>
  <div class="container-fluid">
    <div class="row" style="background-color: #333333">
      <a routerLink="/home" class="btn btn-lg brand-name-size">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        Casting Company
        <i class="fa fa-quote-right" aria-hidden="true"></i>
      </a>
      <a class="pull-right register"  routerLink="/signup">Signup
        <i class="fa fa-user-plus"></i>
      </a>
      <!-- <button class="btn btn-sm btn-link no-border header-content text-justify pull-right">Sign up</button> -->
    </div>
  </div>
  <hr>
  <router-outlet></router-outlet>  
</div>
