.header-content{
    color:#222; 
    
}
.brand-name-size{
    font-size:30px;
    font-family:Roboto, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #996600;
    color:#ffc34d;
    border-color:#996600;
}
.no-border{
    border: none;
}
.nav > li > a{
    color: white;
}
.nav > li > a:focus 
    {
        background-color: #cc8800;
        border-bottom-color: whitesmoke;
        border-bottom-width: 2px; 
    }
    .nav > li > a:hover
    {
        background-color: #cc8800;
        border-bottom-color: whitesmoke;
        border-bottom-width: 2px; 
    }
 
