<div class="container-fluid">
  <div class="row">
    <button routerLink="/actors" class="btn btn-lg header-content brand-name-size" style="border: none;">Casting Company</button>
    <!-- <button class="btn btn-sm btn-link no-border header-content text-justify pull-right">Sign up</button> -->
  </div>
</div>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills nav-justified ">
            <li class="menu-hover"><a routerLink="/actors">Actors</a></li>
            <li><a routerLink="/photographers">Photographers</a></li>
            <li><a href="#">Choreographers</a></li>
            <li><a href="#">Singers</a></li>
            <li><a href="#">Editors</a></li>
            <li><a href="#">Technicians</a></li>
            <li><a routerLink="/signup">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
