<div style="margin:10px;">
  <div class="col-md-4">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
          <a class=" active tab-active nav-link text-dark col-xs-6 col-md-12" [ngClass]="{'active':tab=='login'}" (click)="tab='login'" data-toggle="tab"  href="#menu1">Login</a>
      </li>
      <li class="nav-item">
          <a class=" nav-link tab-active text-dark col-xs-6 col-md-12" [ngClass]="{'active':tab=='signup'}" data-toggle="tab" (click)="tab='signup'" href="#menu2">Signup</a>
      </li>
    </ul>
    <app-login-form *ngIf="tab=='login'"></app-login-form>
    <app-signup-form *ngIf="tab=='signup'"></app-signup-form>
    <div class="row">
        <div class="mx-auto">
            <google-signin></google-signin>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <button class="btn btn-primary" (click)="facebookLogin()">Log in with Facebook</button>
        </div>
    </div>
  </div>
</div>
