<div class="container-fluid">
    <form action="" class="form-inline form-group dropdown">
      <div id="services" class="services-area area-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline services-head text-center">
                <h2 style="font-size: 32px;">Services</h2>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="services-contents">
              <!-- Start Left services -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon services-icon2">
                        <i (click)="onIconClick('actor')" class="fa fa-user"></i>
                      </a>
                      <h4>Actors</h4>
                      <p>
                        Actors with varying experiences from various background with their contact numbers.
                      </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon services-icon2">
                        <i (click)="onIconClick('photographer')" class="fa fa-camera-retro"></i>
                      </a>
                      <h4>Photographer</h4>
                      <p>
                        Photographers specialized in Model photography, Wedding Photography,Child Photography and various other aspects.
                      </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- end col-md-4 -->
                <div class=" about-move">
                  <div class="services-details">
                    <div class="single-services">
                      <a class="services-icon services-icon2">
                        <i (click)="onIconClick('caterer')" class="fa fa-wrench"></i>
                      </a>
                      <h4>Service Providers</h4>
                      <p>
                        Various other service providers like editors, website creators etc..
                      </p>
                    </div>
                  </div>
                  <!-- end about-details -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Service area -->
    </form>
  </div>