.login-btn{
    position: relative;
    left:35%;
    margin: 20px 10px 0 10px;
}

.federation-btn {
    position: relative;
    left:20%;
    top:20%;
    margin: 20px 10px 0 10px;
}

.vertical-line {
    border: 2px  #686666cc;
    border-style: none solid none  none;
}