<div class="row">
  <div class="col-md-5">
  <img class="actor-profiles" src="{{actor.actorPhoto}}" alt="https://d36y8zwkr1oyb.cloudfront.net/assets/ActorPhotos/1522597550087.jpeg">
  </div>
  <fieldset>
    <legend class="details">Actor details</legend>
    <div class="col-md-5 actor-profiles actor-details">
      <p>
        <span class="specifications">Name :</span>
        <span class="details">{{actor.actorName}}</span>
      </p>
      <p>
        <span class="specifications">Age :</span>
        <span class="details">{{actor.actorAge}}</span>
      </p>
      <p>
        <span class="specifications">Gender :</span>
        <span class="details">{{actor.actorGender}}</span>
      </p>
      <p>
        <span class="specifications">Number :</span>
        <span class="details">{{actor.actorContactNumber}}</span>
        <i class="fa fa-envelope pointer" title= "Contact actor" aria-hidden="true" (click)="showMessageScreen=true"></i>
      </p>
      <p>
        <span class="specifications">Movies :</span>
        <span class="details">{{actor.actorMovies}}</span>
      </p>
     </div>
  </fieldset>
  <app-message-screen *ngIf="showMessageScreen">
    <div class="modal-content">
      <div class="col-md-3">
        
      </div>
      <span class="pull-right pointer" (click)="showMessageScreen=!showMessageScreen">X</span>
      <input type="number" maxlength="10" placeholder="Your contact number"  class="form-control" pattern="[0-9]" id="number">
      <hr>
      <label for="message">Message:</label>
      <input type="text" class="form-control" placeholder="Enter the message to actor" id="message">
    </div>
  </app-message-screen>
</div>