<div class="row">
  <div class="col-md-5">
  <img class="actor-profiles img-thumbnail" src="{{actor.actorPhoto}}">
  </div>
  <fieldset>
    <legend class="text-center">Actor details</legend>
    <div class="col-md-5 actor-profiles actor-details">
      <table>
          <tr>
              <td class="specifications">Name </td>
              <td class="specifications">: </td>
              <td span class="details">{{actor.actorName}}</td>
          </tr>  
          <tr>
              <td class="specifications">Age </td>
              <td class="specifications">: </td>
              <td span class="details">{{actor.actorAge}}</td>
          </tr>  
          <tr>
              <td class="specifications">Gender </td>
              <td class="specifications">: </td>
              <td span class="details">{{actor.actorGender.toUpperCase()}}</td>
          </tr>  
          <tr>
              <td class="specifications">Number </td>
              <td class="specifications">: </td>
              <td span class="details">{{actor.actorContactNumber}}
                  <!-- <i class="fa fa-envelope pointer" title= "Contact actor" aria-hidden="true" (click)="showMessageScreen=true"></i> -->
              </td>
          </tr>
          <tr>
            <td class="specifications">Profile </td>
            <td class="specifications">: </td>
            <td span class="details">Actor</td>
        </tr>  
          <!-- <tr>
              <td class="specifications">Movies </td>
              <td class="specifications">: </td>
              <td span class="details">{{actor.actorMovies}}</td>
          </tr>   -->
      </table>
     </div>
  </fieldset>
  <app-message-screen *ngIf="showMessageScreen">
    <div class="modal-content">
      <div class="col-md-3">
        
      </div>
      <span class="pull-right pointer" (click)="showMessageScreen=!showMessageScreen">X</span>
      <input type="number" maxlength="10" placeholder="Your contact number"  class="form-control" pattern="[0-9]" id="number">
      <hr>
      <label for="message">Message:</label>
      <input type="text" class="form-control" placeholder="Enter the message to actor" id="message">
    </div>
  </app-message-screen>
</div>
<div class="row">
    <div class="col-md-10" style="margin: 5%;">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary pull-right">Submit</button>
          </div>
    </div>
</div>