<div class="row">
    <div class="col-md-5">
        <img class="actor-profiles img-thumbnail" src="{{actor.actorPhoto}}">
    </div>
    <fieldset>
        <div class="col-md-8">
            <h2 class="text-center text-uppercase" style="font-family: Roboto;">{{actor.actorName}}</h2>
            <p class="specifications text-left">{{actor.actorName}} is a south indian {{actor.profileType}} who has to his credits {{actor.actorMovies}}.</p>
            <p class="specifications text-left">{{actor.actorName}} is aged {{actor.actorAge}} and currently resides in {{actor.actorLocation}}</p>
            <div class="specification">
                <hr>
            </div>
            <table>
                <tr>
                    <td class="specifications">Age </td>
                    <td class="specifications">: </td>
                    <td span class="details">{{actor.actorAge}}</td>
                </tr>
                <tr>
                    <td class="specifications">Gender </td>
                    <td class="specifications">: </td>
                    <td span class="details text-lowercase">{{actor.actorGender}}
                        <i *ngIf="actor.actorGender=='male'" class="fa fa-mars" aria-hidden="true"></i>
                        <i *ngIf="actor.actorGender=='female'" class="fa fa-venus" aria-hidden="true"></i>
                    </td>
                </tr>
                <!-- <tr>
                    <td class="specifications">Number </td>
                    <td class="specifications">: </td>
                    <td span *ngIf="loggedIn" class="details">{{actor.actorContactNumber}}
                    </td>
                    <td span *ngIf="!loggedIn" class="details">Premium
                        <i class="fa fa-lock" aria-hidden="true"></i>
                </tr> -->
                <tr>
                    <td class="specifications">Profile </td>
                    <td class="specifications">: </td>
                    <td span class="details text-lowercase">{{actor.profileType}}</td>
                </tr>
                <tr>
                    <td class="specifications">Location </td>
                    <td class="specifications">: </td>
                    <td span class="details">{{actor.actorLocation}}</td>
                </tr>
            </table>
            <p class="specifications text-left col-md-offset-6" (click)="requestContact()">Contact {{actor.profileType}}
                <span class="fa fa-envelope"></span>
            </p>
        </div>
    </fieldset>
    <div class="layer2" *ngIf="showMessageScreen">
        <div class="modal-content">
            <span class="pull-right pointer fa fa-window-close" (click)="showMessageScreen=!showMessageScreen"></span>
            <h2>{{actor.actorName}}</h2>
            <div class="col-md-3">
            </div>
            <input type="number" maxlength="10" placeholder="Your contact number" class="form-control" pattern="[0-9]" #visitorNumber
                id="number">
            <hr>
            <label for="message">Message:</label>
            <input type="text" class="form-control" value="Hi {{actor.actorName}}, We are trying to contact you regarding the role ..... in the movie ...."
                placeholder="Enter the message to actor" id="message">
            <p style="font-family: Roboto;font-size: 70%">*The message will be sent to the actor</p>
            <button class="btn btn-primary btn-small" style="margin: 5% 0 0 40%;" (click)="showMessageScreen=!showMessageScreen">Send</button>
        </div>
    </div>
    <div class="layer2" *ngIf="!userLoggedIn" style="position:fixed;width:100%;height:100%;">
        <div class="modal-content col-md-6" style="position: fixed;top: 50%;left:20%;">
            <i class="fa fa-window-close fa-2x pull-right" style="margin-top: -2%;margin-left: 2%;" (click)="continueAsGuest(guestUserName)"></i>
            <div class=" col-md-5 verticalLine-right">
                <div class="col-md-10">
                    <input class="form-control login-margin" required type="text" name="username" id="username" placeholder="Username" #userName>
                    <input class="form-control login-margin" type="password" name="password" id="password" placeholder="Password" #password>
                    <button class="btn btn-primary col-md-offset-3">Login</button>
                </div>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="text" required placeholder="Guest user name" #guestUserName>
                <button [disabled]="guestUserName.invalid"class="btn btn-primary login-margin" (click)="continueAsGuest(guestUserName)">Continue</button>
            </div>

        </div>

    </div>
</div>
<h3>Movies</h3>
<hr>
<div class="container">
    <div class="col-md-2 col-sm-3" style="margin: 2%" *ngFor="let movie of OMDBResponses">
        <img style="width:200px;height: 300px;" src="{{movie.Poster}}" alt="{{movie.Title}}">
        <p>
            <a href="https://www.imdb.com/title/{{movie.imdbID}}">{{movie.Title}}</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-10" style="margin: 5%; ">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea #comment class="form-control" rows="5" id="comment" style=" background-color:#333333;" placeholder="Enter your comments about this actor"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary pull-right" (click)="submitComment(comment)">Submit</button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-10" style="margin: 5%;">
        <div class="form-group" >
            <p class="panel panel-body" style="background-color:#333333;" *ngFor="let c of comments">
                <span class="col-md-2">
                    <i class="fa fa-user fa-3x" style="border:1px black;"></i>
                    <p>{{c.userName}}</p>
                </span>
                <span class="col-md-8" style="font-family: Koho;font-size: 110%;">{{c.comment}}</span>
            </p>
        </div>
    </div>
</div>