<div class="container-fluid">
  <p class="form-title text-center">SEARCH FOR YOUR CAST</p>
  <form action="" class="form-horizontal">
    <div class="col-md-offset-2 col-md-8 custom-form" >
      <p></p>
        <select class="col-md-offset-1 input-lg">
          <option value="actor">Actor</option>
          <option value="photographer">Photographer</option>
        </select>
        <select class="input-lg">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        <b>in</b>
        <select class="input-lg margin-2">
            <option value="Chennai">Chennai</option>
            <option value="Hyderabad">Hyderabad</option>
        </select>
        <button class="btn btn-lg btn-default search-btn" routerLink="/actors">Search
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
  </form>
</div>
