:host ::ng-deep .theme{
    background-color:#ffd11a;
}
:host ::ng-deep .title{
    font-family: Koho;
    font-size:18px;
    color: #664400;
}
:host ::ng-deep .form-title{
    font-family: Koho;
    font-weight: 600;
    font-size:26px;
    color:#ffc34d;
}
:host ::ng-deep .custom-form {
    background-color: #333333;
    font-family: Koho;
    padding: 10px;
    color:#ffc34d;
}
:host ::ng-deep .custom-form > b{
    background-color: #333333;
    margin:0 0 0 15px;
    font-size:26px;
    font-family: Koho;
    color:#ffc34d;
}
:host ::ng-deep .search-btn{
margin: 30px 0 0 25px;
background-color: #333333;
color: #ffc34d;
}
:host ::ng-deep .margin-2{
    margin: 0 0 0 2px;
    }
:host ::ng-deep .dropdown{
   background-color: #333333;
   border-color: none;
   margin-left: 2%;
 }
    