<div class="container-fluid">
  <form action="" class="form-inline form-group dropdown" [formGroup]="searchForm">
    <div class="col-md-offset-2 col-md-10 custom-form" style="margin:5% 0 0 8%; ">
        <span class="form-title text-center">SEARCH FOR YOUR CAST</span>
        <select class="col-md-offset-1 input-lg dropdown" formControlName="profile">
          <option *ngFor="let profile of profileTypes" class="dropdown" value="{{profile.toLowerCase()}}">{{profile}}</option>
        </select>
        <select class="input-lg dropdown" formControlName="gender">
          <option *ngFor="let type of gender" class="dropdown" value="{{type.toLowerCase()}}">{{type}}</option>
          </select>
        <b>in</b>
        <select class="input-lg margin-2 dropdown" formControlName="location">
          <option *ngFor="let city of cities" class="dropdown" value="{{city.toLowerCase()}}">{{city}}</option>
        </select>
        <span class="lead search-btn"> from 100+ profiles</span>
    </div>
  </form>
</div>
<div class="row col-md-offset-5">
  <button class="btn btn-lg btn-default search-btn" (click)="onSearch()">Search
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</div>
<div class="row col-md-offset-4">
  <p class="col-md-5 search-btn lead form-title" style=" border-radius:7px;"> <span style="margin:10px 0 0 20px;">
    <a routerLink="/signup" style="color: #ffc34d">
    Search for opportunities
  </a></span>
    <i class="fa fa-search" aria-hidden="true"></i>
  </p>
</div>

<app-message-screen *ngIf="showLoading"></app-message-screen>
