<div class="row" style="margin:1%;">
  <!-- <span class="fa fa-search pull-right" title="Click to search" (click)="searchActorList(searchBoxElement)"></span>
    <input type="text" class="pull-right" #searchBoxElement> -->
  <p class="alert alert-danger" *ngIf="noResultsFound">
    <b>
      No results found
    </b>
  </p>
  <fieldset disabled="disabled">
    <legend>Gallery</legend>
  </fieldset>
</div>
<div class="row">
  <div *ngFor="let actor of currentList" class="col-md-2 col-sm-2">
    <div class="image-background">
      <div class="thumbnail">
        <img routerLink="/actor-details" (click)="loadProfile(actor)" class="grid-view" src="{{actor.actorPhoto}}" alt="{{actor.actorPhoto}}">
      </div>
      <div class="caption text-center">
        <a routerLink="/actor-details/{{actor.actorId}}" class="text-center" (click)="loadProfile(actor)">{{actor.actorName}}</a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-offset-6">
  <ul class="pagination pagination-lg">
    <li *ngFor="let pageNumber of totalPage" (click)="onPageClick(pageNumber,$event)">
      <a>{{pageNumber}}</a>
    </li>
  </ul>
</div>